.App {
  text-align: center;
}

.prvButton {
  height: 40px;
  width: 40px;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnInsideDiv {
  display: flex;
  flex-direction: column;
}

.weekDayDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
